
.background {
    height: 650px;
    background-image: url(/image/home.jpg);
    background-size: cover;
}

.box {
    border: 3px solid black;
    padding-top: 40px;
    background-color:  #cda16f;
    height: 500px;
    width: 250px;
    margin: auto;
    transform: translate(0px,60px);
}

.result_box {
    text-align: center;
    border: 2px solid black;
    
}

.result_font {
    text-align: center;

}
.font1 {
    font-size: 20px;
    padding-top: 30px;
}

.font2 {
    font-size: 30px;
}

a.btn_06 {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
    margin-top: 50px;
}
a.btn_06:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}